<mat-card class="card">
    <mat-card-content class="content">
        <!-- ENERGY -->
        <div class="mt-10px">
            <label>
                ENERGY:  
            </label>
            <div class="ans">
                156,610 kWh
            </div>
        </div>
        <!-- LAST UPDATED -->
        <div class="mt-10px">
            <label class="label">
                LAST UPDATED:  
            </label>
            <div class="ans">
                22/06/2021 12:07 PM
            </div>
        </div>
        <!-- NEXT HOUR PREDICTED ENERGY -->
        <div class="mt-10px">
            <label class="label">
                NEXT HOUR PREDICTED ENERGY:  
            </label>
            <div class="ans">
                157,393.05 kWh
            </div>
        </div>
    </mat-card-content>
</mat-card>