<mat-card class="card">
    <mat-card-content class="content">
        <!-- ENERGY -->
        <label>
            ENERGY:  
        </label>
        <span class="ans">
            156,610 kWh
        </span>
        <!-- LAST UPDATED -->
        <label class="label">
            LAST UPDATED:  
        </label>
        <span class="ans">
            22/06/2021 12:07 PM
        </span>
        <!-- NEXT HOUR PREDICTED ENERGY -->
        <label class="label">
            NEXT HOUR PREDICTED ENERGY:  
        </label>
        <span class="ans">
            157,393.05 kWh
        </span>
    </mat-card-content>
</mat-card>