<app-navbar></app-navbar>
<div class="container">
  <app-dropdowns></app-dropdowns>
  <app-details></app-details>
  <app-gauge></app-gauge>
  <mat-grid-list [cols]="2" rowHeight="350px">
    <mat-grid-tile [colspan]="1">
      <app-line-chart1></app-line-chart1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <app-line-chart2></app-line-chart2>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="end-tab">
    <button mat-mini-fab color="primary">
      <mat-icon>
        sms
      </mat-icon>
    </button>
  </div>
</div>
