.card {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* padding: 20px 10px; */
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        padding: 0;
    }
}
    